<div class='vh-100 d-flex flex-column'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Tagman</span>
        <button class='navbar-toggler' data-toggle='collapse' data-target='navbar-collapse'
                (click)='navbarCollapsed = !navbarCollapsed'>
            <span class='navbar-toggler-icon'></span>
        </button>

        <div [ngbCollapse]='navbarCollapsed' class='collapse navbar-collapse' id='navbar-collapse'>
            <form class="form-inline mr-2">
                <!--suppress HtmlFormInputWithoutLabel - the placeholder must suffice here -->
                <input [(ngModel)]='searchQuery' class="form-control mr-sm-2 bg-dark text-light" name='search'
                       placeholder="Search" type="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class='navbar-nav mr-auto'>
                <li class='nav-item'>
                    <a class='nav-link c-pointer' (click)='openTagEditor()'>Tags</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link c-pointer' (click)='openGroupEditor()'>Groups</a>
                </li>
            </ul>

            <form *ngIf='!userService.CurrentUser' class='form-inline'>
                <button (click)='openLoginModal()' class='btn btn-outline-light my-2 my-sm-0'>Login</button>
            </form>
            <form *ngIf='!!userService.CurrentUser' class='form-inline'>
                <button (click)='openUserSettingsModal()' class='btn btn-outline-light my-2 my-sm-0'>Settings</button>
            </form>
        </div>
    </nav>

    <div class='content'>
        <router-outlet></router-outlet>
    </div>
</div>

<div class='alert-container'>
    <ngb-alert *ngFor='let alert of this.alertService.alerts, let idx = index' [type]='alert.type'
               (close)='this.alertService.deleteAt(idx)'>{{alert.message}}</ngb-alert>
</div>

<ng-template #login_modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Sign in to Tagman</h4>
        <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)='advanceLoginModal()'>
            <div *ngIf='loginStage === "Username"' class="form-group">
                <label for="username">Username</label>
                <input [(ngModel)]='loginUsername' autocomplete='off' autofocus class="form-control" id="username"
                       name="user">
            </div>
            <div *ngIf='loginStage === "Password"' class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]='loginPassword' autofocus class="form-control" id="password" name="password"
                       type='password'>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="advanceLoginModal()" class="btn btn-outline-dark" type="button">
            {{loginStage === 'Username' ? 'Continue' : (loginMode === 'register' ? 'Register' : 'Login')}}
        </button>
    </div>
</ng-template>
