<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select a group</h4>
    <button (click)="activeModal.dismiss()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Groups</p>
    <form (ngSubmit)='createGroup()' class='form-inline'>
        <label class='sr-only' for="tagName">Create new Group</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">#</div>
            </div>
            <input [(ngModel)]='newGroupName' autocomplete='off' class="form-control" id="tagName" name="tagName"
                   placeholder='Group Name'>
        </div>
        <button [disabled]='newGroupName.length < 3' class='btn btn-outline-primary mb-2'>Create</button>
    </form>
    <div class="list-group">
        <a (click)='selectedGroup = group.name' *ngFor='let group of copyOfGroups'
           [class.active]='selectedGroup === group.name'
           class="list-group-item list-group-item-action d-flex justify-content-start align-items-center c-pointer">
            {{group.name}}
            <span class='ml-auto badge' [class.selectable]='allowTagAssigning'
                  (click)='assignTagsToGroup(group, $event)'>{{group.tags.length}}</span>
        </a>
    </div>
</div>
<div class="modal-footer">
    <button (click)='activeModal.dismiss()' class="btn btn-outline-dark">Cancel</button>
    <button (click)='activeModal.close(selectedGroup)' [disabled]='selectedGroup.length === 0'
            class="btn btn-outline-primary">
        {{okText}}
    </button>
</div>
